@import "src/Styles.scss";

#projects {
  background-color: $white-02;

  .projects-container {
    .project {
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 0 2rem;
      border: 3px solid $black-01;
      border-radius: 20px;
      background-color: $white-01;

      .project-title {
        font-weight: 800;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        color: $black-01;
      }

      .project-desc {
        text-align: justify;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }

    .div1 {
      width: 18%;
      background-image: url("/images/projects/asset1.png");
      background-size: contain;
      background-position: center;

      background-size: 100%;
      border: 3px solid $black-01;
      border-radius: 20px;
    }
  }
}

@media (min-width: 1200px) {
  #projects {
    .projects-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .project {
        width: 35%;
        margin: 2rem;
      }
    }
  }
}

@media (max-width: 1200px) {
  #projects {
    padding-bottom: 50px;

    .projects-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .project {
        margin-top: 50px;
        width: 80%;
        .project-title {
          font-weight: 800;
          margin-bottom: 0.5rem;
          font-size: 1.5rem;
        }

        .project-desc {
          text-align: justify;
          margin-top: 1rem;
          margin-bottom: 1rem;
        }

        .project-logo {
          margin-top: 20px;
          width: 50px;
          height: 50px;
        }
      }
    }

    .div1 {
      height: 200px;
      margin-top: 50px;
      width: 50% !important;
    }
  }
}

@media (min-width: 768px) {
  #projects {
    .div1 {
      height: 400px;
    }
  }
}
