@import "src/Styles.scss";

#study {
  background-color: $white-02;

  .study-container {
    .school {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .school-logo {
        margin-right: 20px;
      }

      .school-name {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
  }
}
