.header-content {
  height: 100vh;
  padding-left: 20vw;
  padding-top: 32vh;
  position: relative;
}

.header-content__title {
  font-family: var(--first-font);
  font-size: var(--first-title-size);
  font-weight: var(--first-font-weight);
  font-style: oblique;
}

.header-content__desc {
  font-family: var(--second-font);
  margin-top: 5vh;
  font-size: var(--first-desc-size);
  font-style: var(--second-font-style);
  color: var(--font-color-black);
  font-weight: bold;
}

@media screen and (max-width: 1300px) {
  .header-content {
    padding-left: 18vw;
  }

  .header-content__title {
    font-size: var(--second-title-size);
  }

  .header-content__desc {
    font-size: var(--first-desc-size);
  }
}

@media screen and (max-width: 1000px) {
  .header-content {
    padding-left: 16vw;
  }

  .header-content__title {
    font-size: var(--third-title-size);
  }

  .header-content__desc {
    font-size: var(--second-desc-size);
  }
}

@media screen and (max-width: 600px) {
  .header-content {
    padding-left: 0;
    margin-left: 2rem;
  }

  .header-content__title {
    font-size: var(--fourth-title-size);
  }

  .header-content__desc {
    font-size: var(--third-desc-size);
  }
}

/* Animation du nom */

.lettre-anim,
.lettre-anim span {
  display: inline-block;
}

.header-content__title span {
  cursor: pointer;
  position: relative;
  perspective: 500px;
}

.lettre-anim span::before,
.lettre-anim span::after {
  position: absolute;
  content: attr(data-lettre);
  inset: 0;
  transform-origin: left;
}

.lettre-anim span::before {
  transition: transform 0.3s ease-out;
  color: var(--light-black);
}

.lettre-anim span::after {
  color: var(--title-color);
  transition: transform 0.4s ease-out, color 0.4s ease-out;
  transform: rotateY(-25deg);
}

.lettre-anim:hover span::after {
  transform: rotateY(-40deg);
}

.lettre-anim:hover span::before {
  transform: scaleX(0.85) skewY(20deg);
}

.lettre-anim:hover span::after {
  color: var(--sixth-color);
}