.header-content {
  height: 100vh;
  padding-left: 20vw;
  padding-top: 32vh;
}

.header-content__title {
  font-family: var(--first-font);
  font-size: var(--first-title-size);
  font-weight: var(--first-font-weight);
  font-style: oblique;
}

.header-content__desc {
  font-family: var(--second-font);
  margin-top: 5vh;
  font-size: var(--first-desc-size);
  font-style: var(--second-font-style);
}

@media screen and (max-width: 1300px) {
  .header-content {
    padding-left: 18vw;
  }

  .header-content__title {
    font-size: var(--second-title-size);
  }

  .header-content__desc {
    font-size: var(--first-desc-size);
  }
}

@media screen and (max-width: 1000px) {
  .header-content {
    padding-left: 16vw;
  }

  .header-content__title {
    font-size: var(--third-title-size);
  }

  .header-content__desc {
    font-size: var(--second-desc-size);
  }
}

@media screen and (max-width: 600px) {
  .header-content {
    padding-left: 0;
    margin: 0 auto;
  }

  .header-content__title {
    font-size: var(--fourth-title-size);
  }

  .header-content__desc {
    font-size: var(--third-desc-size);
  }
}

/* Animation du nom */

.lettre-anim,
.lettre-anim span {
  display: inline-block;
}

.header-content__title span {
  cursor: pointer;
  position: relative;
  perspective: 500px;
}

.lettre-anim span::before,
.lettre-anim span::after {
  position: absolute;
  content: attr(data-lettre);
  inset: 0;
  transform-origin: left;
}

.lettre-anim span::before {
  transition: transform 0.3s ease-out;
  color: rgba(0, 0, 0, 0.122);
}

.lettre-anim span::after {
  color: #757575;
  transition: transform 0.4s ease-out, color 0.4s ease-out;
  transform: rotateY(-25deg);
}

.lettre-anim:hover span::after {
  transform: rotateY(-40deg);
}

.lettre-anim:hover span::before {
  transform: scaleX(0.85) skewY(20deg);
}

.lettre-anim:nth-child(1):hover span::after,
.lettre-anim:nth-child(13):hover span::after {
  color: #f08080;
}
.lettre-anim:nth-child(4):hover span::after,
.lettre-anim:nth-child(7):hover span::after,
.lettre-anim:nth-child(14):hover span::after {
  color: #00ffff;
}
.lettre-anim:nth-child(2):hover span::after,
.lettre-anim:nth-child(6):hover span::after,
.lettre-anim:nth-child(16):hover span::after {
  color: #deb887;
}
.lettre-anim:nth-child(8):hover span::after,
.lettre-anim:nth-child(11):hover span::after,
.lettre-anim:nth-child(17):hover span::after {
  color: #90ee90;
}
.lettre-anim:nth-child(9):hover span::after,
.lettre-anim:nth-child(15):hover span::after {
  color: #20b2aa;
}
.lettre-anim:nth-child(5):hover span::after,
.lettre-anim:nth-child(12):hover span::after {
  color: #ffffe0;
}
.lettre-anim:nth-child(3):hover span::after,
.lettre-anim:nth-child(10):hover span::after {
  color: #ffb6c1;
}
