.tictactoe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tictactoe-board {
    padding-bottom: 2vh;
}

.tictactoe-info {
    text-align: center;
}

.tictactoe-info__button,
.tictactoe-info__status,
.tictactoe-info__moves {
    margin: 2vh 0;
}

.square {
    color: var(--game-text);
    font-size: 3rem;
    font-family: var(--second-font);
}