*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;

  /* fonts */
  --first-font: "Montserrat Alternates";
  --second-font: "Expletus Sans";
  --third-font: "PT Sans Caption";

  /* font-size */
  --first-font-size: 5rem;
  --second-font-size: 2rem;
  --third-font-size: 1.5rem;
  --fourth-font-size: 1.1rem;
  --fifth-font-size: 0.8rem;
  --sixth-font-size: 0.55rem;

  /* title size */
  --first-title-size: 5rem;
  --second-title-size: 4rem;
  --third-title-size: 3rem;
  --fourth-title-size: 2rem;

  /* desc size */
  --first-desc-size: 2rem;
  --second-desc-size: 1.5rem;
  --third-desc-size: 1.1rem;

  /* font style */
  --first-font-style: oblique;
  --second-font-style: normal;

  /* font weight */
  --first-font-weight: 900;
  --second-font-weight: 300;

  /* line height */
  --second-font-line-height: 10px;

  /* ============================================= */

  /* icon size */
  --icon-size: 3rem;

  /* border */
  --border-size: 5px;

  /* colors */
  --white-color: white;
  --black-color: black;
  --light-black: rgba(0, 0, 0, 0.122);



  --font-color-white: var(--white-color);
  --font-color-black: var(--black-color);

  /* error page */
  --background-error: rgba(66, 83, 116, 0.9);
}

/* ============================================= */

/* couleurs du mode clair */

:root .light-theme {
  --first-color: #dbdbdb;
  --second-color: #424a59;
  --third-color: #f3d6cb;
  --fourth-color: #2da8a5;
  --fifth-color: #272f40;
  --title-color: var(--fourth-color);
  --sixth-color: #39af5c;
  --winner-color: rgb(255, 0, 128);

  /* blob */
  --blob-background: var(--first-color);
  --blob-border: var(--fifth-color);

  --first-title-color: var(--fifth-color);

  /* popup */
  --popup-color: rgba(11, 103, 194, 0.9);
  --popup-text: var(--white-color);

  /* footer */
  --icon-color: rgba(0, 0, 0, 0.8);
  --icon-hover: var(--black-color);
  --border-color: var(--black-color);

  /* box */
  --box-background: var(--fourth-color);
  --box-icon-background: var(--first-color);

  /* game */
  --game-background: var(--third-color);
  --game-background-2: var(--second-color);
  --game-win: var(--fourth-color);
  --game-text: var(--first-color);


}

/* couleurs du mode sombre */

:root .dark-theme {
  --first-color: #535059;
  --second-color: #8090a9;
  --third-color: #a79281;
  --fourth-color: #1f2024;
  --fifth-color: #495676;
  --title-color: var(--white-color);
  --sixth-color: rgb(199, 178, 159);
  --winner-color: #ffd700;

  /* blob */
  --blob-background: var(--second-color);
  --blob-border: var(--white-color);

  --first-title-color: var(--white-color);

  /* popup */
  --popup-color: rgba(11, 103, 194, 0.9);
  --popup-text: var(--white-color);

  /* footer  */
  --icon-color: rgba(255, 255, 255, 0.8);
  --icon-hover: var(--white-color);
  --border-color: var(--fourth-color);

  /* box */
  --box-background: var(--fifth-color);
  --box-icon-background: var(--second-color);

  /* game */
  --game-background: var(--fifth-color);
  --game-background-2: var(--second-color);
  --game-win: var(--first-color);
  --game-text: var(--fourth-color);
}