.games {
  display: flex;
  flex-direction: column;
  padding-top: 30vh;
  position: relative;
  color: white;
  background-color: var(--third-color);
}

.games-blob {
  position: absolute;
}

.games-blob:nth-child(1) {
  width: 5rem;
  height: 5rem;
  top: 25rem;
  left: 5rem;
  border-radius: 79% 53% 53% 76% / 100% 84% 40% 27%;
  background: var(--fourth-color);
}

.games-blob:nth-child(2) {
  width: 3rem;
  height: 3rem;
  top: 40rem;
  right: 1rem;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  background: var(--second-color);
}

.games-blob:nth-child(3) {
  width: 4rem;
  height: 4rem;
  top: 27rem;
  right: 5rem;
  border-radius: 76% 44% 41% 82% / 80% 20% 76% 36%;
  background: var(--fifth-color);
}

.games-header {
  margin: auto;
  font-family: var(--second-font);
  font-size: var(--second-font-size);
  font-style: var(--second-font-style);
  padding-bottom: 10vh;
  height: fit-content;
  width: fit-content;
  text-align: center;
  order: 1;
  color: var(--first-title-color);
}

.games-content {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  order: 2;
}


.games-content__tictactoe {
  padding: 2rem;
  margin: 2rem;
  border-radius: 1rem;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  font-family: var(--second-font);
  font-size: var(--third-font-size);
  background-color: var(--box-background);
}

.games-content__tictactoe-icon {
  width: 10rem;
  display: inline-block;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  background-color: var(--box-icon-background);
}

.games-content__tictactoe p {
  text-align: center;
  color: var(--white-color);
  padding: 2rem 0 0 0;
}

.games-content a {
  text-decoration: none;
  color: var(--white-color);
}

.games-content a:hover {
  text-decoration: underline var(--white-color);
}

.games-content:hover {
  color: var(--white-color);
}

@media screen and (max-width: 1300px) {
  .skills {
    display: inline;
  }

  .skills-header {
    margin-top: 20vh;
  }

  .skills-list {
    margin: 20vh auto 0 auto;
  }

  .skills-list__hexagonArea .hexagon {
    width: 5rem;
    height: 5rem;
  }

  .games-content__tictactoe {
    font-size: var(--fourth-font-size);
  }
}

@media screen and (max-width: 1000px) {
  .games-content__tictactoe-icon {
    width: 7rem;
  }

}

@media screen and (max-width: 600px) {
  .games-header {
    font-size: var(--third-font-size);
  }

  .games-content__tictactoe {
    font-size: var(--fifth-font-size);
  }

  .games-blob:nth-child(3) {
    display: none;
  }
}