@import "src/Styles.scss";

#contact {
  background-color: $white-02;
  padding-bottom: 50px;

  .logo-container {
    background-color: #ffffff;
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 10px;
  }
}
