.experience {
  display: flex;
  position: relative;
  color: var(--font-color-white);
}

.experience-header {
  font-family: var(--second-font);
  font-size: var(--second-font-size);
  font-style: var(--second-font-style);
  width: fit-content;
  margin: auto;
  height: inherit;
  order: 2;
}

.experience-content {
  width: 50vw;
  justify-content: center;
  text-align: center;
  order: 1;
}

.pin-icon {
  margin-right: 1rem;
}

.experience-content__first,
.experience-content__second {
  border-radius: 1rem;
  text-align: center;
  width: fit-content;
  padding: 1.5rem 3rem;
  margin: 10vh auto 10vh auto;
  position: relative;
  border-radius: 70% 55% 45% 40% / 80% 50% 80% 40%;
  background-color: var(--blob-background);
  color: var(--font-color-black);
  animation: blobby 7s infinite linear;
  border: 1px solid var(--blob-border);
}

@keyframes blobby {
  0% {
    border-radius: 70% 55% 45% 40% / 80% 50% 80% 40%;
  }

  25% {
    border-radius: 60% 45% 80% 10% / 80% 30% 55% 40%;
  }

  50% {
    border-radius: 45% 30% 80% 30% / 70% 55% 45% 45%;
  }

  75% {
    border-radius: 80% 30% 45% 40% / 55% 80% 45% 60%;
  }

  100% {
    border-radius: 70% 55% 45% 40% / 80% 50% 80% 40%;
  }
}

.experience-content__first-date,
.experience-content__second-date {
  margin: 2px 0;
  font-family: var(--third-font);
  font-weight: var(--third-font-weight);
}

.experience-content__first-job,
.experience-content__second-job {
  margin: 2px 0;
  font-family: var(--third-font);
  font-weight: var(--first-font-weight);
}

.experience-content__first-location,
.experience-content__second-location {
  margin: 2px 0;
  font-family: var(--third-font);
  font-weight: var(--third-font-weight);
  font-style: var(--first-font-style);
}

@media screen and (max-width: 1300px) {
  .experience {
    display: inline;
  }

  .experience-content {
    margin: auto;
  }
}

@media screen and (max-width: 1000px) {

  .experience-content__first-date,
  .experience-content__second-date,
  .experience-content__first-job,
  .experience-content__second-job,
  .experience-content__first-location,
  .experience-content__second-location {
    font-size: var(--fifth-font-size);
  }

  .experience-content {
    width: 80vw;
  }
}

@media screen and (max-width: 600px) {
  .experience-header {
    font-size: var(--third-font-size);
  }
}