.footer {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.footer-social {
  margin: 0 auto;
}

.footer-social .icon {
  height: 3rem;
  width: 3rem;
  color: var(--icon-color);
  margin: 5vh 2rem 0;
  transition: color 0.5s ease-out;
}

.footer p {
  margin-top: 2rem;
  color: var(--black-color);
  font-weight: 600;
}

.footer-social .icon:hover {
  color: var(--icon-hover);
}

.footer-social::before {
  content: "";
  position: absolute;
  left: 0;
  left: 12.5vw;
  width: 75vw;
  border-bottom: solid 1px var(--border-color);
  margin: 0 auto;
}

.footer::before {
  content: "";
  position: absolute;
  left: 25vw;
  width: 50vw;
  top: -0.3rem;
  border-bottom: solid 1px var(--border-color);
}

.footer::after {
  content: "";
  position: absolute;
  left: 25vw;
  width: 50vw;
  top: 0.3rem;
  border-bottom: 1px solid var(--border-color);
}

.footer-social::after .footer p {
  text-align: center;
  margin: auto;
  font-family: var(--first-font);
  font-size: var(--third-font-size);
  font-weight: var(--first-font-weight);
}

@media screen and (max-width: 1000px) {
  .footer p {
    font-size: var(--fourth-font-size);
  }
}

@media screen and (max-width: 600px) {
  .footer p {
    font-size: var(--fifth-font-size);
  }
}