@import "src/Styles.scss";

#experience {
  background-color: $background-color;

  .experience-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .company {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .company-logo {
        margin-right: 20px;
      }

      .company-name {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }

    .job {
      margin: 2rem 0 0 2rem;
      text-align: justify;
      .job-title {
        font-weight: 800;
        margin-bottom: 1rem;
      }
    }
  }

  .container {
    margin: 1rem;
  }
}

@media (min-width: 1200px) {
  #experience {
    .parent {
      display: grid;
      grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
      grid-template-rows: 0.5fr repeat(2, 1fr) 0.5fr repeat(2, 1fr) 0.5fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;

      .second-experience {
        grid-area: 2 / 2 / 4 / 4;
        border: 1px solid #000;
      }

      .first-experience {
        grid-area: 5 / 3 / 7 / 5;
        border: 1px solid red;
      }

      .div3 {
        grid-area: 3 / 1 / 6 / 2;
        border: 1px solid blue;
      }
      .div4 {
        grid-area: 1 / 4 / 3 / 6;
        border: 1px solid green;
      }
      .div5 {
        grid-area: 4 / 5 / 6 / 6;
        border: 1px solid yellow;
      }
      .div6 {
        grid-area: 6 / 2 / 8 / 3;
        border: 1px solid orange;
      }
    }
  }
}

@media (max-width: 1200px) {
  #experience {
    .parent {
      .first-experience {
        margin-bottom: 0;
      }

      .div3,
      .div4,
      .div5,
      .div6 {
        height: 0;
        width: 0;
        margin: 0;
      }
    }
  }
}
