@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

@import "src/Styles.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Playpen Sans", cursive;
}

.logo {
  width: 100px;
  height: 100px;

  &.rounded {
    border-radius: 50%;
  }
}

.title-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;

  .title {
    font-size: 4rem;
    letter-spacing: 3spx;
    font-weight: 800;
    margin: 1rem 0 1rem 1rem;

    font-family: Bangers, cursive !important;
    color: $light-red-01;
    text-shadow:
      1px 1px 0 $black-01,
      2px 2px 0 $black-01,
      3px 3px 0 $black-01,
      4px 4px 0 $black-01,
      5px 5px 0 $black-01;
    border-style: solid;
    border-width: 3px 0 3px 3px;
    border-color: $black-01;
    width: 97%;
    text-align: center;
    background-color: $white-01;
    padding: 1rem;
  }
}
