.footer {
  height: 30vh;
  display: flex;
  align-items: center;
  position: relative;
}

.footer p {
  text-align: center;
  margin: auto;
  font-family: var(--first-font);
  font-size: var(--third-font-size);
  font-weight: var(--first-font-weight);
}

@media screen and (max-width: 1000px) {
  .footer p {
    font-size: var(--fourth-font-size);
  }
}

@media screen and (max-width: 600px) {
  .footer p {
    font-size: var(--fifth-font-size);
  }
}
